a>.assetsLargeImageUserPopout-3Pp8BK[src^="https://i.scdn.co/image/"]{
width:50px;
height:50px;
transition: all 1s;
}
a>.assetsLargeImageUserPopout-3Pp8BK[src^="https://i.scdn.co/image/"]:hover {
width:100px;
height:100px;
transition: all 1s;
}