/* Cleaner status picker with gradient buttons */

#status-picker .separator-2I32lJ, #status-picker .description-2L932D {
  display: none;
}
#status-picker .focused-3afm-j {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#status-picker .focused-3afm-j#status-picker-online {
  background: linear-gradient(45deg, #21583f, #43b581);
}
#status-picker .focused-3afm-j#status-picker-idle {
  background: linear-gradient(45deg, #915c03, #faa61a);
}
#status-picker .focused-3afm-j#status-picker-dnd {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}
#status-picker .focused-3afm-j#status-picker-invisible {
  background: linear-gradient(45deg, #3a4047, #747f8d);
}